/*Fonts*/

@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

/*font-family: 'Bitter', Helvetica, serif;*/

@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

/*font-family: 'Archivo Narrow', Arial, sans-serif;*/


/*Colors*/


/*
light blue - #D0DEE8
grey - #FEFFFF
pale brown - #E8DED0
brown - #9C896C
grey blue - #7C8E9C
*/


/*Layout*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    /* This pattern is downloaded from www.subtlepatterns.com */
    background-image: url(/img/sandpaper.png);
    font-family: 'Archivo Narrow', Arial, sans-serif;
}

.container {
    background-color: #FEFFFF;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', Helvetica, serif;
}


/*Home*/

.page-header {
    padding: 0.5em 0;
    background-color: #D0DEE8;
    color: #7C8E9C;
    text-align: center
}

main {
    padding-top: 0;
    padding-bottom: 1em;
}


/*Projects*/


/*Contact*/


/*Footer*/

footer {
    background-color: #9C896C;
    color: #FEFFFF;
    text-align: center
}


/*Nav Menu*/

.navbar-dark {
    background-color: #7C8E9C;
}

nav {
    background-color: #7C8E9C;
}


/*Avatar*/

.avatarBox img {
    max-height: 110px;
    width: auto;
    margin: 5px;
    border-radius: 50%;
}


/*Form Information*/

form {
    width: 90%;
    margin: 0 auto;
    font-family: 'Droid Sans', sans-serif;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    padding: 0.3em;
}

label {
    display: none;
}


/*Form Media Queries*/

@media all and (min-width: 768px) {
    label {
        display: inline-block;
    }
    input[type="submit"] {
        max-width: 50%;
    }
}

@media all and (min-width: 992px) {}

@media all and (min-width: 1200px) {}