/*Fonts*/

@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

/*font-family: 'Bitter', Helvetica, serif;*/

@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

/*font-family: 'Archivo Narrow', Arial, sans-serif;*/


/*Colors*/


/*

Complementary Color Scheme 
https://color.adobe.com/create/color-wheel/?base=4&rule=Complementary&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.4863122529644269,0.5576705685618751,0.6100000000000001,0.9972332015810276,0.9988294314381271,1,0.6100000000000001,0.5356723474631465,0.42531225296442693,0.91,0.8723637319902848,0.8164822134387352,0.8164822134387352,0.8704347826086973,0.91&swatchOrder=0,2,3,4,1

light blue - #D0DEE8
grey - #FEFFFF
pale brown - #E8DED0
brown - #9C896C
grey blue - #7C8E9C
*/


/*Layout*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    /* This pattern is downloaded from www.subtlepatterns.com */
    background-image: url(/img/sandpaper.png);
    font-family: 'Archivo Narrow', Arial, sans-serif;
}

.container {
    background-color: #FEFFFF;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', Helvetica, serif;
}

.btn-primary {
    background-color: #7C8E9C;
    border-color: #7C8E9C;
}


/*Home*/

.page-header {
    padding: 0.5em 0;
    background-color: #D0DEE8;
    color: #7C8E9C;
    text-align: center
}

main.container {
    padding-top: 0;
    padding-bottom: 1em;
}

ul {
    padding-left: 1.5em;
}

.content {
    padding: 1em;
}


/*Projects*/

.card {
    margin: 50px;
}


/*Contact*/

p.description {
    padding-left: 1.5em;
    padding-right: 1.5em;
}


/*Footer*/

footer {
    background-color: #9C896C;
    color: #FEFFFF;
    text-align: center
}


/*Nav Menu*/

.navbar-dark {
    background-color: #7C8E9C;
}

nav {
    background-color: #7C8E9C;
}


/*Avatar*/

.avatarBox img {
    max-height: 110px;
    width: auto;
    margin: 5px;
    border-radius: 50%;
}


/*Form Information*/

form {
    width: 90%;
    margin: 0 auto;
    font-family: 'Droid Sans', sans-serif;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    padding: 0.3em;
}

label {
    display: none;
}


/*Form Media Queries*/

@media all and (min-width: 768px) {
    label {
        display: inline-block;
    }
    input[type="submit"] {
        max-width: 50%;
    }
}

@media all and (min-width: 992px) {}

@media all and (min-width: 1200px) {}